@font-face {
  font-family: 'Hanken Grotesk';
  font-style: normal;
  font-weight: 400;
  src: local('Hanken Grotesk'),
       url('assets/fonts/HankenGrotesk/HankenGrotesk.ttf') format('truetype');
}

@font-face {
  font-family: 'Hanken Grotesk';
  font-style: normal;
  font-weight: 900;
  src: local('Hanken Grotesk'),
       url('assets/fonts/HankenGrotesk/HankenGrotesk-ExtraBold.ttf') format('truetype');
}

.container {
  max-width: 1092px;
  margin: auto;
  padding: 0 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial, 'Hanken Grotesk', sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-header.active {
  position: sticky;
  top: 0;
  z-index: 9;
  background-color: #fff;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
  max-height: 45px;
  padding-block: 12px;
}

@media( min-width: 992px ) {
  .header-container {
    max-height: 57px;
    padding-block: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.currency {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.currency-link {
  display: flex;
  align-items: center;
  width: fit-content;
  font-size: 12px;
}

.item-currency.active .dropdown-currency {
  opacity: 1;
  visibility: visible;
  transition: 0.3s all ease;
}

@media( min-width: 992px ) {
  .item-currency:hover .dropdown-currency {
    opacity: 1;
    visibility: visible;
    transition: 0.3s all ease;
  }

  .item-currency:hover >.currency-link {
    opacity: 0.3;
  }

  .dropdown-currency .currency-link:hover {
    opacity: 1;
  }
}

.item-currency {
  position: relative;
}

.dropdown-currency {
  opacity: 0;
  min-width: 80px;
  visibility: hidden;
  transition: 0.3s all ease;
  background-color: #fff;
  padding: 8px 10px;
  position: absolute;
  left: -10px;
  margin-top: 8px;
  z-index: 1;
}

.icon-dropdown {
  transform: rotate(180deg);
  position: absolute;
  font-size: 7px;
  right: -12px;
}

.main-nav {
  display: none;
}

.main-menu {
  display: flex;
  gap: 24px;
  margin-inline: auto;
  align-items: center;
}

.icon-toggle {
	transition: transform 0.3s ease;
  opacity: 0;
  position: absolute;
}

.icon-toggle.active {
  position: unset;
	transform: rotate(180deg);
  opacity: 1;
  transition: transform 0.3s ease;
}

.menu-item {
  padding-inline: 10px;
}

.btn-menu-mobile-toggle {
  all: unset;
  cursor: pointer;
  text-align: center;
}

@media( min-width: 992px ) {
  .main-nav {
    display: block;
  }

  .btn-menu-mobile-toggle,
  .main-nav-mobile {
    display: none;
  }
}

.overlay-menu-mobile {
  position: absolute;
  top: -100%;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s all ease;
}

.overlay-menu-mobile.active {
  top: auto;
  position: fixed;
  bottom: 0;
  opacity: 1;
  pointer-events: all;
  background-color: #fff;
  width: 100%;
  z-index: 9999;
  height: calc(100svh - 44px);
  display: flex;
  flex-direction: column;
  transition: 0.3s all ease;
}

.menu-link:hover {
  font-size: 24px;
  font-weight: 700;
  transition: 0.3s all ease;
}

.menu-link {
  transition: 0.3s all ease;
}

.menu-link,
.btn-sign-in {
  text-transform: uppercase;
  font-size: 12px;
}

.btn-sign-in:hover {
  opacity: 0.5;
}

.users {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: end;
  padding-right: 10px;
}

.overlay-sub-menu {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.box-overlay {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 300px;
}

.overlay-sub-menu.active {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.overlay-sub-menu-title {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 24px;
  font-weight: 700;
  padding-top: 18px;
}

.overlay-sub-menu-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.overlay-sub-menu-link {
  color: #fff;
}

.main-menu-mobile {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-top: 16px;
}

.sub-menu-mobile-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 16px;
  max-height: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.menu-mobile-link {
  font-size: 12px;
  text-transform: uppercase;
}

.menu-mobile-link:hover {
  cursor: pointer;
}

.menu-mobile-link.has-submenu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.icon-dropdown-mobile {
  position: absolute;
  right: -14px;
  rotate: 0;
  transition: 0.3s all ease;
}

.menu-mobile-link.has-submenu.active .icon-dropdown-mobile {
  rotate: 180deg;
  transition: 0.3s all ease;
}

.sub-menu-mobile-link {
  font-size: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sub-menu-mobile-list.active {
  max-height: 500px;
  opacity: 1;
  pointer-events: all;
  position: unset;
  transition: 0.5s all ease;
}

.btn-shop {
  width: 17px;
}

.site-name-menu-mobile {
  margin-top: auto;
  margin-inline: auto;
  width: 94vw;
  filter: brightness(0);
  padding-bottom: 12px;
}

.site-main {
  position: relative;
  overflow: hidden;
  isolation: isolate;
  background-color: #fff;
}

.main-heading {
  position: absolute;
  color: #fff;
  top: 20px;
  z-index: 9999;
  width: 95vw;
  mix-blend-mode: difference;
  left: 50%;
  transform: translateX(-50%);
  padding-inline: 6px;
}

.main-heading.is-fixed {
  position: fixed;
  top: 65px;
}

@media( min-width: 992px ) {
  .main-heading.is-fixed {
    position: fixed;
    top: 77px;
  }
}

.title {
  text-transform: uppercase;
  color: #fff;
  font-size: clamp(2.5rem, 1.3695rem + 5.168vw, 5rem);
  font-family: 'Hanken Grotesk', Arial, sans-serif;
  font-weight: 900;
}

/* -----sec_vdo----- */
.vdo-banner {
  max-width: 100%;
  width: 100%;
  height: 100svh;
  display: block;
  object-fit: cover;
  aspect-ratio: 16/9;
}

/* -----sec_new----- */
.container-new {
  padding-block: 100px;
  max-width: 715px;
}

.container-new,
.container-bestseller {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image-overlay.new {
  aspect-ratio: 566/572;
  max-width: 572px;
}

.box-img-overlay {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  aspect-ratio: 1;
  cursor: pointer;
}

.box-image-hover {
  display: block;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.box-image-hover .ele-hover {
  opacity: 0;
  transition: 0.3s all ease;
  pointer-events: none;
  position: absolute;
  z-index: 1;
  aspect-ratio: 1;
  height: 100%;
  top: 0;
  width: 100%;
}

.box-img-overlay:hover .ele-hover {
  opacity: 1;
  transition: 0.3s all ease;
}

.box-img-overlay:has( .box-image-hover):hover .image-overlay {
  transform: translateY(10px);
  transition: 0.1s all ease;
}

.image-overlay {
  height: calc(100% + 10px);
  position: absolute;
  bottom: 0;
  transition: 0.3s all ease;
  transform: translateY(0);
}

.image-overlay,
.ele-hover {
  display: block;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  aspect-ratio: 1;
}

.title-overlay {
  position: absolute;
  z-index: 2;
  text-align: center;
  padding: 6px;
}

.box-content {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.sub-title {
  font-weight: 600;
  text-align: center;
}

.description {
  text-align: center;
  font-weight: 400;
}

/* -----sec_besseller----- */
.container-bestseller {
  padding-bottom: 100px;
}

.vdo-bestseller {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vdo-overlay {
  aspect-ratio: 16/9;
  object-fit: cover;
  width: 100%;
}

/* -----sec_collection----- */
.container-collection {
  padding-bottom: 100px;
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr;
}

@media( min-width: 992px ) {
  .container-collection {
    gap: 68px;
  }
}

.container-collection .box-img-overlay:first-child {
  grid-area: 1 / span 2;
  aspect-ratio: 16/9;
}

.container-collection .box-img-overlay .ele-hover:first-child,
.container-collection .box-img-overlay:first-child .image-overlay{
  aspect-ratio: 16/9;
}

.container-collection .box-img-overlay:not(:first-child) .title-overlay {
  font-size: clamp(1.125rem, 0.5032rem + 2.8424vw, 2.5rem);
}

.container-collection .title {
  font-size: clamp(1.875rem, 1.0271rem + 3.876vw, 3.75rem);
}

/*-----sec_marquee-----*/
.marquee {
  background: #000;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  padding: 4px 0;
}

.marquee-track {
  display: flex;
  gap: 20px;
  align-items: center;
  animation: scroll 4s linear infinite;
}

@media( min-width: 992px ) {
  .marquee-track {
    animation: scroll 7.5s linear infinite;
    gap: 95px;
  }
}

.marquee span {
  font-size: clamp(1.5rem, 0.4826rem + 4.6512vw, 3.75rem);
  font-weight: bold;
  font-family: 'Hanken Grotesk', Arial, sans-serif;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.icon-arrow.icon-left,
.icon-arrow.icon-right {
  width: 85px;
}

.icon-arrow.icon-right {
  rotate: 180deg;
}

/*-----sec_services-----*/
.container-services {
  padding-block: 140px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

@media( min-width: 992px ) {
  .container-services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 126px;
  }
}

.card-service {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.title-services {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}

.description-services {
  font-size: 14px;
  color: #00000099;
}

/*-----sec_faq-----*/
.sec_faq {
  background: #000;
  color: #fff;
  padding-block: 100px;
  min-height: 700px;
}

.title-faq {
  text-align: center;
  font-size: clamp(1.5rem, 1.0478rem + 2.0672vw, 2.5rem);
  font-family: 'Hanken Grotesk', Arial, sans-serif;
}

.sub-title-faq {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
}

.tabs {
  margin-block: 36px 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 100%;
  justify-content: center;
}

.tab-btn {
  background: #222;
  color: #fff;
  border: 0.5px solid #333;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  transition: 0.3s all ease;
}

.tab-btn.active,
.tab-btn:hover {
  background: #fff;
  color: #000;
  transition: 0.3s all ease;
}

.tab-content {
  max-height: 0;
  opacity: 0;
  pointer-events: none;
  /* transition: 0.3s opacity ease, 0.1s max-height ease; */
  top: -100%;
  position: absolute;
  transition: 0.5s all ease;
}

.tab-content.active {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-height: 1200px;
  opacity: 1;
  pointer-events: all;
  position: unset;
  top: unset;
  /* transition: 0.3s opacity ease, 0.31s max-height ease; */
  transition: 0.5s all ease;
}

.acc-item {
  border-bottom: 1px solid #222;
  padding-bottom: 24px;
}

.acc-btn {
  color: #fff;
  background: transparent;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  transition: 0.3s all ease;
}

.acc-item.open .acc-btn {
  margin-bottom: 14px;
  transition: 0.3s all ease;
}

.acc-panel {
  max-height: 0;
  opacity: 0;
  padding-bottom: 0;
  color: #aaa;
  font-size: 14px;
  transition: all 0.3s ease
}

.acc-item.open .acc-panel {
  max-height: 500px;
  opacity: 1;
  transition: all 0.3s ease
}

.icon-arrow {
  width: 14px;
  transform: rotate(0);
  transition: 0.3s all ease;
}

.acc-item.open .icon-arrow {
  transform: rotate(180deg);
  transition: 0.3s all ease;
}

/*----sec_form----*/
.sec_form {
  padding-block: 100px;
}

.container-form {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

@media( min-width: 992px ) {
  .container-form .box-content {
    max-width: 300px;
  }
}

.title-form {
  font-size: 40px;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  font-family: 'Hanken Grotesk', Arial, sans-serif;

}

@media( min-width: 992px ) {
  .container-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.box-form form {
  width: 100%;
}

.form-mode {
  display: flex;
  gap: 20px;
  margin-bottom: 24px;
}

.radio {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  cursor: pointer;
}

.radio input {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid #00000033;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.radio input::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #000;
  transform: scale(0);
  transition: 0.15s;
}

.radio input:checked::before {
  transform: scale(1);
}

.form-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 992px) {
  .form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-end;
  }
}


.form-field label {
  display: block;
  font-size: 14px;
  position: relative;
  margin-left: 10px;
  color: #0000004D;
  transition: 0.3s all ease;
}

.form-field label.have-active-value {
  margin-left: 0;
  font-size: 10px;
  margin-bottom: 6px;
  top: -6px;
  left: 0;
  transition: 0.3s all ease;
  position: relative;
}

.form-field input,
.form-field select {
  width: 100%;
  border: none;
  border-bottom: 1px solid #00000080;
  font-size: 13px;
  background: transparent;
  outline: none;
  padding-bottom: 10px;
}

.form-field input:focus,
.form-field select:focus {
  border-bottom: 1px solid #000;
}

.select-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon-form-dropdown{
  position: absolute;
  right: 0;
  width: 11px;
  pointer-events: none;
  z-index: 2;
  filter: brightness(0);
  opacity: 0.6;
}

.form-field select {
  appearance: none;
  padding-right: 24px;
  position: relative;
  z-index: 1;
  background-color: transparent;
}

.form-field.select-wrap select {
  display: block;
  width: 100%;
}

.form-bottom {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.terms-check {
  color: #00000080;
  font-size: 14px;
  font-weight: 400;
}

.checkbox {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  color: #6b6b6b;
  cursor: pointer;
}

.checkbox input {
  appearance: none;
  width: 14px;
  height: 14px;
  border: 1px solid #bbb;
  display: grid;
  place-items: center;
}

.checkbox input::after {
  content: "";
  width: 8px;
  height: 4px;
  color: #00000080;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
  transform: rotate(-45deg) scale(0);
  transition: 0.15s;
}

.checkbox input:checked::after {
  transform: rotate(-45deg) scale(1);
}

.btn-submit {
  background: #000;
  color: #fff;
  border: none;
  width: fit-content;
  min-width: 140px;
  padding: 18px 36px;
  font-weight: 400;
  cursor: pointer;
}

.btn-submit:hover {
  opacity: 0.9;
}

/*----sec_page-title----*/
.homepage-title {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  padding-bottom: 10px;
}

/*----footer----*/
.site-footer {
  background-color: #F8F9F8;
  padding-block: 32px;
}

.container-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

@media( min-width: 992px ) {
  .container-footer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}

.menu-title-footer {
  text-transform: uppercase;
  font-size: 14px;
}

.menu-footer-list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-footer-link {
  font-size: 12px;
  opacity: 0.8;
  transition: 0.3s all ease;
}

.menu-footer-link:hover {
  opacity: 0.5;
  transition: 0.3s all ease;
}

.box-newsletter {
  grid-column: span 2;
}

.form-newsletter {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
}

.form-newsletter input {
  border: 0;
  background-color: transparent;
  padding-block: 12px;
  border-bottom: 0.5px solid #000;
}

.form-newsletter input:focus {
  outline: 0;
}

.btn-subscribe {
  margin-top: 18px;
  padding: 10px;
  border: 0;
  background-color: #E0E0E0;
}

.copyright {
  display: flex;
  grid-column: span 2;
  font-size: 12px;
}

@media( min-width: 992px ) {
  .copyright {
    grid-column: span 6;
  }
}

.copyright .site-icon {
  margin-left: auto;
}